<header class="nav" id="top">
  <div class="wrap nav__inner">
    <a class="nav__brand" href="../index.html" aria-label="Salman Adnan, home">
      <span class="nav__mark" aria-hidden="true">SA</span>
      <span class="nav__name">Salman Adnan</span>
    </a>
    <nav class="nav__links" aria-label="Primary">
      <a href="../index.html#work">Work</a>
      <a href="../index.html#process">Process</a>
      <a href="../index.html#about">About</a>
      <a href="#book-a-call" class="nav__cta">Book a call</a>
    </nav>
  </div>
</header>
